/* Estilos para la página de crochet */

/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #a46db4;
    color: #8b77a5; /* Morado más claro para el texto */
    font-size: 16px;
    text-align: justify;
    font-family: cursive;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
/* Estilos para el encabezado */
nav {
    background-color: #8b77a5; /* Morado pastel */
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

/* Estilos para los enlaces de navegación */
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

/* Estilo específico para el enlace "CATYARN" */
.navbar-brand {
    color: #8b77a5; /* Color del texto */
}

/* Estilos para la sección de inicio */
#inicio {
    background-color: #f0e6f3;
    padding: 20px;
    text-align: center;
}

#inicio h2 {
    color: #8b77a5; /* Morado más claro para el título */
}

/* Estilos para el texto en la sección de inicio */
#inicio p {
    margin: 20px 0;
    text-align: justify;
    color: #8b77a5; /* Morado más claro para el texto */
}

/* Estilos para el pie de página */
footer {
    background-color: #d1b3e5; /* Morado pastel */
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el modal */
.modal-title {
    color: #8b77a5; /* Morado más claro para el título */
}

.modal-body {
    color: #8b77a5; /* Morado más claro para el texto */
}

/* Agrega estilos según tus preferencias */
.img {
    height: 200px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.2);
}

.expanded {
    display: none;
    margin-bottom: 20px;
}

.img-container {
    text-align: center;
}
